/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'ngx-toastr/toastr';
.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Arial';
}
  body{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    background-color: #141414;
    color: #fff;
  }
  .container{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
  }


