<header class="container">
    <div class="logo">
        <a href="">E <span>*</span> Burger</a>
    </div>
    <nav>
        <ul class="leftside">
            <li><a href="">Início</a></li>
            <li><a href="">Burgers</a></li>
            <li><a href="">Contato</a></li>
            <li *ngIf="!userLogado" data-bs-toggle="modal" data-bs-target="#exampleModalCad cad"><a>Cadastre-se</a></li>

            <li *ngIf="!userLogado" data-bs-toggle="modal" data-bs-target="#exampleModal"><a href="#">Login</a></li>
            <li (click)="sair()" *ngIf="userLogado"><a href="#">&nbsp;Sair</a></li>


            <li data-bs-toggle="modal" data-bs-target="#staticBackdrop"><a href="#"></a>&nbsp;<span class="badge bg-dark nm">{{userLogado}}&nbsp;&nbsp;|&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                class="bi bi-cart" viewBox="0 0 16 16"><path
d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>&nbsp;{{item_cart}}</span></li>




        </ul>
        <div class="rightside">
            <a href="">Fazer<i class="bi bi-cart"></i> pedido</a>


            <!-- ModalLogin -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <form action="" [formGroup]="sendLogin" (ngSubmit)="logar()">

                        <div class="modal-body">
                                <div class="mb-3">
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="formGroupExampleInput2"
                                        placeholder="Senha" formControlName="senha">
                                </div>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Entrar</button>

                        </div>
                                            </form>

                    </div>

                </div>
            </div>


<!-- ModalCarrinho -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Meu Carrinho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- *ngFor="let item of item_cart" -->
        <div class="cart" *ngFor="let item of item_cart2" >
            <div class="cart-header">
                <h6>            <img width="30" height="30" src="{{url_img}}{{item.img_eburger}}" alt="">
<b></b>{{item.eburger_item}}<b></b></h6>
            </div>
            <div class="cart-body">
                                <h6>{{item.preco_eburger | centavosParaReais}}</h6>


            </div>
            <div class="cart-footer">
                         <i (click)="deleteItemCart(item.id_item_cart)" class="fa-regular fa-trash-can lixo"></i>
            </div>
        </div>
        <div class="total">
            <h6>Total: {{ totalCarrinho | centavosParaReais }}</h6>
    

        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar Pedido</button>
      </div>
    </div>
  </div>
</div>


<!-- ModalCadastro-->
<div class="modal fade" id="exampleModalCad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastra-se</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="cadastro" (ngSubmit)="cad()">
              <div class="col-12">
    <label for="inputAddress" class="form-label">Nome:</label>
    <input formControlName="nome" type="text" class="form-control"  placeholder="Nome">
  </div>
    <div class="col-12">
    <label for="inputAddress" class="form-label">Email:</label>
    <input formControlName="email" type="text" class="form-control"  placeholder="Email">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">CPF:</label>
    <input formControlName="cpf" type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Senha:</label>
    <input formControlName="senha" type="password" class="form-control" id="inputPassword4">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




        </div>
    </nav>

    <div class="menu">
        <div class="menu--icon">
            <div></div>
            <div></div>
            <div></div>

        </div>
    </div>

</header>

<section class="hero">
    <div class="container" *ngFor="let item of list_txt">
        <div class="leftside">
            <h1>{{ item.title }}</h1>
            <p>{{ item.txt }}</p>
            <a href="" class="button">Fazer pedido</a>
        </div>
        <div class="rightside">
            <img src="{{url_img}}{{item.img}}" alt="">
        </div>
    </div>
</section>
<section class="search">
    <div class="container">
        <div class="title">Pesquise seu <br> Hamburguer Favorito !</div>
        <div class="sides">
            <div class="leftside">
                <input type="search" placeholder="digite o nome do Burger">
            </div>
            <div class="rightside">
                <select (change)="selectBurger($event)">

                    <option *ngFor="let menu of list_item" value="{{ menu.id_burger_type }}">{{ menu.burger }}</option>
                    <!-- <option value="burger">Burger</option>
                    <option value="pizza">Pizza</option>
                    <option value="vegetariano">Vegetariano</option>
                    <option value="kids">Kids</option> -->


                </select>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="products-grid">
            <a  class="products-item" *ngFor="let item of list_burger_select">
                <div *ngIf="item.promocao == 1" class="warning">Promoção</div>
                <div class="photo">
                    <img src="{{url_img}}{{item.img_item}}" alt="">
                </div>
                <div class="info">
                    <!-- <div class="product-category">Tradicional</div> -->
                    <div class="product-name">{{ item.item_eburger }}</div>
                    <div class="product-price">{{ item.preco | centavosParaReais }}</div>
                    <div (click)="addCart(item)" class="product-price"><button   class="btn btn-light btn-cart">+ 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    </button>
</div>

                </div>
            </a>


        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="logo">
            <a href="">E <span>*</span> Burger</a>
        </div>

        <div class="copy">Criado por
            <a href="">Ed Carlos</a>.
        </div>

    </div>
</footer>