<header class="container">
    <div class="logo">
        <a href="">E <span>*</span> Burger</a>
    </div>
    <nav>
        <ul class="leftside">
            <li><a href="">Início</a></li>
            <li><a href="">Burgers</a></li>
            <li><a href="">Contato</a></li>

        </ul>
        <div class="rightside">
            <a href="" class="button">Fazer pedido</a>
        </div>
    </nav>
    <div class="menu">
        <div class="menu--icon">
            <div></div>
            <div></div>
            <div></div>

        </div>
    </div>
</header>

<section class="hero">
    <div class="container" *ngFor="let item of list_txt">
        <div class="leftside">
            <h1>{{ item.title_1 }}</h1>
            <p>{{ item.txt_1 }}</p>
            <a href="" class="button">Fazer pedido</a>
        </div>
        <div class="rightside">
            <img src="assets/heroBurger.png" alt="">
        </div>
    </div>
</section>
<section class="search">
    <div class="container">
        <div class="title">Pesquise seu <br> Hamburguer Favorito !</div>
        <div class="sides">
            <div class="leftside">
                <input type="search" placeholder="digite o nome do Burger">
            </div>
            <div class="rightside">
                <select >

                    <option *ngFor="let menu of list_item" value="{{ menu.id_item }}">{{ menu.item_name }}</option>
                    <!-- <option value="burger">Burger</option>
                    <option value="pizza">Pizza</option>
                    <option value="vegetariano">Vegetariano</option>
                    <option value="kids">Kids</option> -->


                </select>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="products-grid">
            <a href="" class="products-item">
                <div class="warning">Promoção</div>
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>

            <a href="" class="products-item">
                <div class="photo">
                    <img src="assets/burgers/burger1.png" alt="">
                </div>
                <div class="info">
                    <div class="product-category">Tradicional</div>
                    <div class="product-name">Texas Burger</div>
                    <div class="product-price">25,50</div>
                </div>
            </a>


        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="logo">
            <a href="">E <span>*</span> Burger</a>
        </div>

        <div class="copy">Criado por
            <a href="">Ed Carlos</a>.
        </div>
        
    </div>
</footer>
